body{
color: #ffffff;
background-color: #ffffff;
background-image: url("Images/background.png");
background-position: left top;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
line height: 1.4em;
margin: opx;}

.wrapper{
width: 1200px;
margin: 20px auto 20px auto;
border: 2px solid #000000;
background-color: #313131;}

header{
height: 160px;
background-image: url("Images/banner.png");}
h1{
text-indent: -9999px;
width: 1200px;
height: 160px;
margin: 0px;}

nav, footer{
clear: both;
color: #bbbbbb;
background-color: #232323;
height: 30px;}

nav ul{
margin: 0px;
padding: 5px 30px 5px 30px;}

nav li{
display: inline;
margin-right: 40px;}

nav li a{
color: #bbbbbb;}

nav li a:hover, nav li current {
color: #ffffff;
background-color: #525252;
padding: 5px 22px 5px 22px;
margin-right: -22px;
margin-left: -22px;}

section.imagewithtext{
float: left;
width: 859px;
margin: 30px;
margin-top: 60px;
border: 1px solid #888888;}

section.text2{
float: left;
width: 905px;
margin-top: 60px;
margin-left: 10px;
border-right: 5px solid #232323;}

section.text{
float: left;
width: 905px;
margin-left: 10px;
border-right: 5px solid #232323;}

section.about{
float: right;
width: 234px;
height: 332px;
margin-top: 30px;
padding-left: 23px;
padding-right: 23px;
border-left: 5px solid #232323;}

article{
clear: both;
overflow: auto;
width: 100%;}

hgroup{
margin-top: 40px;}

section.imagewithtext figure{
float: left;
width: 220px;
height: 220px;
margin: 20px;
border: 5px solid #232323;
}
figcaption{
font-size: 90%;
text-align: left;}

section.imagewithtext hgroup{
float: left;
width: 570px;
height: 220px;
}

section.text figure,section.text2 figure{
float: left;
width: 835px;
padding: 5px;
padding-left: 20px;
margin: 20px;
border: 1px solid #888888;}
figcaption{
font-size: 90%;
text-align: left;}

aside{
text-align: center;
width: 230px;
float: right;
padding: 0px 0px 0px 10px;}

aside p{
font-size: 150%;
border: 2px solid #232323;
margin: 5px;
padding: 5px;
}

aside section p:hover{
color: #ffffff;
background-color: #232323;
border: 4px solid #232323;
margin: 1px;
padding: 3px;
}

a{
color: #bbbbbb;
text-decoration: none;}
h1,h2,h3{
font-weight: normal;}
h2{
margin: 10px 0px 5px 0px;
padding: 0px;}
h3{
margin: 0px 0px 10px 0px;
color: #dddddd;}
h5{
margin: 10px 0px 10px 0px;}

section.text h3,section.text2 h3{
	margin: 10px 0px 0px 0px;
	font-size: 120%;
}

section.text ul,section.text2 ul{
	margin: 0px 0px 0px 0px;
}

section.text ol,section.text2 ol{
	margin: 0px 0px 0px 0px;
}

section.text li,section.text2 li{
	margin: 5px 0px 5px 0px;
	font-size: 90%;
}

section.text span,section.text2 span{
	margin: 5px 0px 5px 0px;
	font-size: 125%;
}

section.text p,section.text2 p{
	margin: 0px 0px -10px 0px;
	font-size: 75%;
}

aside h2{
border: 2px solid #232323;
padding: 10px 0px 10px 0px;
color: #dddddd;
background-color: #525252}

footer{
color: #ffffff;
text-align: center;
font-size: 80%;
padding: 1px 0px 5px 0px;}

table {
  border-collapse: collapse;
  width: 95%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}